{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="pt-ao">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeLeap Network</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>

  <body>
    <nav class="h-14 w-full bg-[#7695EC] flex items-center justify-start px-4">
      <h2 class="lg:text-2xl text-white font-semibold">CodeLeap Network</h2>
    </nav>
    <div class="mx-auto mt-4  px-4 ">
      {% block content %} {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
